<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1095264136507-g9mec4bd2bgq1ut8oofi2dhvdloice9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095264136507-g9mec4bd2bgq1ut8oofi2dhvdloice9i</string>
	<key>API_KEY</key>
	<string>AIzaSyDRbhNPZWlsgQAMLSZASCc4RHtzfeaOch8</string>
	<key>GCM_SENDER_ID</key>
	<string>23650015918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vi.secretcalc3</string>
	<key>PROJECT_ID</key>
	<string>apps-review-flag</string>
	<key>STORAGE_BUCKET</key>
	<string>apps-review-flag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:23650015918:ios:e7319f1be7192848</string>
	<key>DATABASE_URL</key>
	<string>https://apps-review-flag.firebaseio.com</string>
</dict>
</plist>
